.form {
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  .formGroup {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .containerBtn {
    text-align: center;
    margin-top: 20px;
 }
  .error-message{
    color:red;
  }
  @media screen and (max-width: 768px) {
    .form {
      width: 100%;
    }
    
    .formGroup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }