.form {
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .container-btn {
    text-align: center;
    margin-bottom: 50px;
  }
  .error-message{
    color:red;
  }
  