.form {
  width: 60%;
  margin: 0 auto;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .form {
    width: 95%;
    margin: 10px;
  }
  .formGroup {
    margin-bottom: 15px;
  }
  .w-50 {
    width: 100%;
  }
}