
.table{
    width: 60%;
    margin: 0 auto; 
     
}
.button-list{
    width: 70%;
}
.header-list{
    width: 30%;
    text-align: center;
    color: white;
}
.select-group{
    margin-top: 10px;
    margin-left: 20%;
    width: 60%;
}

.primary-color {
    background-color: #004e87 !important;
}

.bolder {
    font-weight:700;
}

