.table{
    width: 60%;
    margin: 0 auto; 
     
}
.button-list{
    width: 70%;
}
.header-list{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    color: white;
}
.select-group{
    margin-top: 10px;
    margin-left: 20%;
    width: 60%;
}

